@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-10">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Current Password </label>
                <div class="col-sm-8">
                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password">
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">New Password </label>
                <div class="col-sm-8">
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="current-password">
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Confirm New Password </label>
                <div class="col-sm-8">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="current-password">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Confirm New Password</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary"  role="button">Cancel</a>
                </div>
            </div>

            @* <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button> *@
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
